<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>table模块快速使用</title>
    <script src="/js/common/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://www.layuicdn.com/layui-v2.5.6/css/layui.css" media="all">

    <script src="https://www.layuicdn.com/layui-v2.5.6/layui.js"></script>
    <script th:inline="none">
        layui.use('table', function () {
            var table = layui.table;
            //第一个实例
            table.render({
                elem: '#demo'
                , height: 312
                , url: 'http://127.0.0.1:8080/backend/sort/findAll' //数据接口
                , loading: true
                , title: '分类表'
                , page: false //开启分页
                , toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
                , totalRow: true //开启合计行
                , cols: [[ //表头
                    {field: 'id', title: 'ID', width: 80, sort: true, fixed: 'left'}
                    , {field: 'name', title: '分类名', width: 80}
                ]]
            });

        });
    </script>
</head>
<body>

<table id="demo" lay-filter="test"></table>

</body>
</html>